@import "components/base";

body {
    background: #F0FAF0;
}

.container {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    gap: 35px;
    padding: 0 90px;

    .content {
        flex: 3 1 auto;

    }

    .section-bar, .option-bar {
        flex: 2 1;
    }
}

