@import "components/base";

* {
    font-size: 12px;
}

body {
    background: $background-color;
}

.container {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    gap: 35px;
    padding: 0 90px;

    .survey-bar {
        flex: 2 1 auto;
    }

    .section-bar, .option-bar {
        flex: 2 1;
    }
}

