.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 20px 3px rgba(102, 204, 119, 0.20);

    .header {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        background: $primary-color;
        border-radius: 10px 10px 0 0;

        h1, h2, h3,
        h4, h5, h6 {
            font-weight: 200;
            color: $white;
            text-transform: uppercase;
            font-size: $heading-size;
        }
    }

    .body {
        border-radius: 0 0 10px 10px;
    }

    hr {
        border-top: 0.1px $primary-color solid;
        max-width: 65%;
        margin: auto;
    }
}

.card > .body {
    background: $white;
}
