.question {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top:20px;
    .title {
        font-size: $subheading-size;
        color: $primary-color;
    }

    .description {
        color: $secondary-color;
    }

    input[type=text] {
        border: none;
        background: none;

        &:focus {
            outline: none;
            color: $accent-focus-color;
        }
    }
}
