//fonts
$logo-font-size: 2.66rem;
$heading-size: 1.5rem;
$subheading-size: 1.33rem;
$paragraph-over-size: 1.2rem;
$paragraph-size: 1rem;

//colors

$heading-color: #2D2D2D;
$paragraph-color: #8B8B8B;

$accent-focus-color: #BB7140;
$white: #fff;
$primary-color: #40BB48;
$secondary-color: #66CC77;
$tertiary-color: #D1EFD3;
$background-color: #F0FAF0;
